<div class="row">
  <h1 class="text-center">Create new post</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= render 'posts/form' %>
    <br>
    <%= link_to 'Go Back', posts_path %>
  </div>
</div>